@using MobileStore.Core.Abstractions.Services
@using MobileStore.Presentation.Blazor.Services

@inject NotificationService NotificationService
@inject NavigationManager NavigationManager

@inject ICartService CartService

<div>
    <AuthorizeView>
        <Authorized>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="OnAddToCart">Add</MudButton>
        </Authorized>
        <NotAuthorized>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="OnLoginClick">Add</MudButton>
        </NotAuthorized>
    </AuthorizeView>
</div>

@code {

    [Parameter] public Guid ProductId { get; set; }

    public async Task OnAddToCart()
    {
        await CartService.Create(ProductId, 1);

        NotificationService.ShowSuccess("Added");
    }

    private void OnLoginClick()
    {
        NavigationManager.NavigateTo("/Account/Login", forceLoad: true);
    }
}
