.product-card {
    height: 100%;
    flex-direction: column;
}

.card-img {
    height: 190px;
    min-height: 190px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.card-content {
    height: 100%;
    text-align: center;
}
