@using MobileStore.Core.Models
@using MobileStore.Core.Abstractions.Services
@using MobileStore.Presentation.Blazor.Components.Standard.Menu

@inject IProductService ProductService

<div class="product-menu">
    <XStNavMenu> 
        <XStNavLink OnClick="() => OnProductSelected(null)">All</XStNavLink>
        @foreach (var productType in _productTypes)
        {
            <XStNavLink DisableRipple="true" OnClick="() => OnProductSelected(productType.Id)">@productType.Name</XStNavLink>
        }
    </XStNavMenu>
</div>

@code {

    [Parameter] public EventCallback<Guid?> ValueChanged { get; set; }

    private List<ProductTypeModel> _productTypes = new();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        _productTypes = await ProductService.GetProductTypes();
    }

    private async Task OnProductSelected(Guid? value)
    {
        await ValueChanged.InvokeAsync(value);
    }
}
