<!-- -->
<div class="xst-cart">
    <MudCard Outlined="true">
        <MudCardContent>
            <div class="xst-card-content-container">
                <div class="xst-card-content">
                    @Content
                </div>

                @if (Actions != null)
                {
                    <div class="@("xst-card-actions" + (Content != null ? " mt-4" : ""))">
                        @Actions
                    </div>
                }
            </div>
        </MudCardContent>
    </MudCard>
</div>


@code {
    /// <summary>
    /// Child content of the component.
    /// </summary>
    [Parameter]
    public RenderFragment? Content { get; set; }

    [Parameter]
    public RenderFragment? Actions { get; set; }
}