@using MobileStore.Core.Abstractions.Services
@using MobileStore.Presentation.Blazor.Components.Standard.Button

@inject ICartService CartService
@inject NavigationManager NavigationManager

<div>
    <XStDangerIconButton Icon="@Icons.Material.Filled.Delete"
               OnClick="Delete">
    </XStDangerIconButton>
</div>

@code {
    [Parameter]
    public Guid Id { get; set; }

    public async Task Delete()
    {
        await CartService.Delete(Id);
        NavigationManager.NavigateTo("/Cart", forceLoad: true);
    }
}
