@using MobileStore.Core.Models
@using MobileStore.Presentation.Blazor.Components.Standard.Card
@using MobileStore.Presentation.Blazor.Components.Standard.Grid
@using MobileStore.Presentation.Blazor.Components.Standard.Text

<div class="checkout-container">
    <XStGrid>
        <XStItem xs="12" sm="12">
            <tr>
                <td>Total:</td>
                <td>@_summary <span>$</span></td>
            </tr>
            <tr>
                <td>Discount:</td>
                <td>@_discount <span>$</span></td>
            </tr>
        </XStItem>
    </XStGrid>
</div>

@code {

    [Parameter]
    public List<CartItemModel> CartItems { get; set; } = null!;

    private double _summary;
    private double _discount;

    /// <summary>
    /// because of CartItems is refreshed in Cart, OnParametersSetAsync is worked
    /// </summary>
    /// <returns></returns>
    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();

        _discount = 0;
        _summary = Math.Round(CartItems.Sum(i => i.Quantity * i.Product.Price), 2);
    }
}
