body {
    background-color: #dddddd;
}

h2 {
    text-align: center;
}

form {
    text-align: center;
}

.order-button button {
    color: white;
    padding: 10px;
    background-color: black;
}

.cart-container th, td {
    text-align: left;
    padding-right: 16px;
}

.cart-container img {
    width: 30%;
    border-style: ridge;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cart-container .lelt-column {
    background-color: white;
    margin-top: 20px;
    margin-right: 20px;
    padding: 20px;
    float: left;
    width: 60%;
}

    .cart-container .lelt-column .cart-button-delete:hover {
        color: red;
        background-color: transparent;
        text-decoration: none;
    }

.cart-container .right-column {
    background-color: white;
    margin-top: 20px;
    margin-left: 20px;
    padding: 20px;
    position: absolute;
    right: 0;
    width: 38%;
}

.cart-container table {
    width: 100%;
}

.form-of-quantity-in-cart {
    font-size: 1.2rem;
    padding: 2px;
    display: flex;
    width: 80px;
    justify-content: space-between;
    border: 1px solid;
}

.cell-quantity {
    text-align: center;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
}
