@model MobileStore.Models.Phone
@{
    ViewData["Title"] = "Buy";
}
<h1>@ViewData["Title"]</h1>

<p>Вы покупаете:</p>
<div>
    <td>@Model.Name</td>
    <td>@Model.Company</td>
    <td>@Model.Price</td>
</div>
