@model IEnumerable<MobileStore.Models.Phone>
@{
    ViewData["Title"] = "Магазин смартфонов";
}
<!DOCTYPE html>
<html>

<head>
    <title>My Store</title>
    <h1>IPhone</h1>
</head>

<body>
    <style type="text/css">
        .phone {
            width: 150px; /* Ширина */
            margin: 0 10px 10px 0; /* Отступы */
            padding: 10px 0; /* Поля сверху и снизу */
            text-align: center; /* Выравнивание по центру */
            display: inline-block; /* Строчно-блочный элемент */
        }
    </style>

    <section class="main-content sidebar-left-false ">
        @foreach (var phone in Model)
        {
            <div class="phone">
                
                    <p><img src="@phone.Img" alt=""></p>
                    <h3>@phone.Name</h3>
                    <p><td>@phone.Price</td></p>
                <td><a href="~/Home/Buy/@phone.Id">Купить</a></td>
            </div>
        }
    </section>
</body>
</html>