@model MobileStore.Models.User

<!DOCTYPE html>
<html>
<title>MobileStore|Форма для регистрации</title>
<h3>Для регистрации заполните поля ниже:</h3>

<table>
    <tr>
        <td>Name:</td>
        <td><input type ="text" name = "User"/></td>
    </tr>
    <tr>
        <td>Address:</td>
        <td><input type ="text" name = "User"/></td>
    </tr>
    <tr>
        <td>Phone number:</td>
        <td><input type="text" name="ContactPhone" /></td>
    </tr>
    <tr>
        <td>Password:</td>
        <td><input type="text" name="ContactPhone" /></td>
    </tr>
    <tr><td><input type="submit" value="Авторизоваться" /> </td><td></td></tr>
</table>

<h3>Я уже являюсь клиентом MobileStore:</h3>
<table>
    <tr>
        <td>Phone number:</td>
        <td><input type="text" name="ContactPhone" /></td>
    </tr>
    <tr>
        <td>Password:</td>
        <td><input type="text" name="ContactPhone" /></td>
    </tr>
    <tr><td><input type="submit" value="Войти" /> </td><td></td></tr>
</table>
</html>
