@using System.Reflection.Metadata
@typeparam T

<div class="xst-table-container">
    <MudTable T="T"
              Items="Items"
              Hover="Hover"
              SortLabel="SortLabel"
              HeaderContent="HeaderContent"
              RowTemplate="RowTemplate"
              FooterContent="FooterContent">
    </MudTable>
</div>


@code
{
    [Parameter]
    public RenderFragment FooterContent { get; set; } = null!;

    [Parameter]
    public RenderFragment HeaderContent { get; set; } = null!;

    [Parameter]
    public RenderFragment<T> RowTemplate { get; set; } = null!;

    [Parameter]
    public string SortLabel { get; set; } = null!;

    [Parameter]
    public bool Hover { get; set; }

    [Parameter]
    public IEnumerable<T> Items { get; set; } = null!;
}
