@using MobileStore.Presentation.Blazor.Components.Business.Menu

@inherits LayoutComponentBase

<PageTitle>MobileStore.Presentation.Blazor</PageTitle>

<MudThemeProvider Theme="@_myCustomTheme" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <div class="main-menu-container">
        <XStNavMainMenu />
    </div>

    <div class="main-content-container">
        <!--Gets the content to be rendered inside the layout.-->
        @Body
    </div>

    <div class="main-footer-container">

    </div>
</MudLayout>

@code
{
    private readonly MudTheme _myCustomTheme = new()
    {
        Palette = new PaletteLight
        {
            Primary = Colors.Orange.Darken4,
        },
        PaletteDark = new PaletteLight
        {
            Primary = Colors.Orange.Darken4,
        },
    };
}
