@model MobileStore.Presentation.ViewModels.UserViewModel
@{
    ViewData["Title"] = "My Account";
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/user.css" />
</head>

<body>
    <div class="container">
        <div class="a1 col-lg-12">
            <div class="form">
                <form asp-controller="User" asp-action="UpdateCurrentUser">
                    <h2>Contact details:</h2>
                    <div>
                        <label asp-for="User.FirstName"></label><br />
                        <input asp-for="User.FirstName" type="text" />
                    </div>

                    <div>
                        <label asp-for="User.LastName"></label><br />
                        <input asp-for="User.LastName" type="text" />
                    </div>

                    <div>
                        <label asp-for="User.Email"></label><br />
                        <input type="text" asp-for="User.Email" id="email" disabled />
                    </div>

                    <div>
                        <label asp-for="User.Address"></label><br />
                        <input asp-for="User.Address" type="text" />
                    </div>
                    
                    <div>
                        <input type="submit" value="Save" class="btn btn-outline-dark"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>