@using Radzen.Blazor

<div class="nav-menu">
    <RadzenMenu>
        <RadzenMenuItem Text="Home" Icon="home" Path="" />
        <RadzenMenuItem Text="Cart" Icon="shopping_cart" />
        <RadzenMenuItem Text="Login" Icon="login" />
    </RadzenMenu>
</div>

