@using MobileStore.Core.Abstractions.Services
@using MobileStore.Core.Models
@using MobileStore.Presentation.Blazor.Components.Business.Cart
@using MobileStore.Presentation.Blazor.Components.Standard.Grid
@using MobileStore.Presentation.Blazor.Components.Standard.Card

@inject ICartService CartService

@page "/cart"

<PageTitle>Cart</PageTitle>

<div>
    <XStGrid>
        <XStItem xs="12" md="8">
            <XStCard>
                <Content>
                    @foreach (var cartItemModel in _models)
                    {
                        <XStCartItem Model="cartItemModel"></XStCartItem>
                    }
                </Content>
            </XStCard>
            
        </XStItem>
        <XStItem xs="12" md="4">
            <XStCard>
                <Content>
                    <XStCartCheckout></XStCartCheckout>
                </Content>
            </XStCard>
        </XStItem>
    </XStGrid>
</div>



@code {

    private List<CartItemModel> _models = new();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        _models = await CartService.GetCartItems();
    }
}
