@using MobileStore.Core.Abstractions.Services
@using MobileStore.Core.Models
@using MobileStore.Presentation.Blazor.Components.Business.Cart
@using MobileStore.Presentation.Blazor.Components.Standard.Grid
@using MobileStore.Presentation.Blazor.Components.Standard.Card

@inject ICartService CartService

@page "/cart"

<PageTitle>Cart</PageTitle>

<div>
    <XStGrid>
        <XStItem xs="12" md="8">
            <XStCard>
                <Content>
                    @foreach (var cartItemModel in _models)
                    {
                        <XStCartItem Model="cartItemModel" 
                                     OnQuantityChanged="_ => OnQuantityChanged()" 
                                     OnDeleted="Refresh" />
                    }
                </Content>
            </XStCard>
            
        </XStItem>
        <XStItem xs="12" md="4">
            <XStCard>
                <Content>
                    <XStCartCheckout CartItems="_models"></XStCartCheckout>
                </Content>
            </XStCard>
        </XStItem>
    </XStGrid>
</div>



@code {

    private List<CartItemModel> _models = new();

    /// <summary>
    /// Override this method if you will perform an asynchronous operation and want the
    /// component to refresh when that operation is completed.
    /// </summary>
    /// <returns> Representing any asynchronous operation.</returns>
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        await Refresh();
    }

    private async Task Refresh()
    {
        _models = await CartService.GetCartItems();
    }

    /// <summary>
    /// To refresh reference of list
    /// </summary>
    private void OnQuantityChanged()
    {
        _models = _models.ToList();
    }

}
